<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zeasn.toptech.titanos2.launcher.overlay">

    <application android:hasCode="false" />

    <overlay
        android:isStatic="true"
        android:priority="9"
        android:targetPackage="com.zeasn.toptech.titanos2.launcher" />
</manifest>